@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
body {
  background: var(--mainWhite);
  color: var(--mainBlack);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.logo {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
}
.logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services a {
  text-decoration: none;
  color: var(--mainBlack);
  transition: var(--mainTransition);
}
.services a:hover {
  text-decoration: underline;
  color: brown;
}

.underline {
  width: 16rem;
  margin: 0 auto;
  height: 1px;
  background-color: brown;
  padding-top: 0.2rem;
}

/* @media (max-width: 860px) {
  .logo {
    display:none ;
  }
} */
